@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --archivo: "Archivo", sans-serif;
  --space: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carFrete {
  color: rgba(255, 0, 0, 0.88);
}
.headerContainer h2 {
  margin-block: 20px;
}
.headerContainer span {
  padding-inline: 10px;
}
.quantidadeCart {
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
}
.containerTextHeader {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;

  /* justify-content: space-evenly; */
  font-family: var(--archivo);
}

.textHeader {
  width: 40%;
  max-width: 80%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  font-family: var(--archivo);
  margin-left: 200px;
}
.textHeader h1 {
  font-family: var(--space);
}
.textHeader p {
  margin-top: 20px;
  font-size: 1.1rem;
  font-family: var(--archivo);
  width: 80%;
}

/* Cards */
.containerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textTCards {
  text-align: center;
  margin-block: 80px;
}

.textTCards h2 {
  font-family: var(--archivo);
  margin-block: 20px;
}

.textTCards p {
  font-family: var(--archivo);
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto;
}
.containerFrete {
  position: relative;
  /* border: solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
}

.cardsContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.bgImg {
  width: 100%;
  height: 150px;
  max-height: 350px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 4px;
}

.bgImg img {
  width: 70%;
  cursor: pointer;
}

.cards {
  width: 380px;
  height: 300px;
  max-height: 400px;

  background-color: #cecece47;
  border-radius: 5px;
  padding: 0.7rem;
}

.cards .modelo {
  color: #7ca2f4;
  font-size: 1rem;
  margin-block: 5px;
}

.cards .nome {
  font-weight: bold;
  font-size: 1.1rem;

  font-family: var(--archivo);
}

.cards .preco {
  font-family: var(--space);
  font-size: 1.1rem;

  font-weight: bold;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 4px;

  margin: 0 auto;
  font-family: var(--archivo);
  font-weight: 300;

  transition: 0.3s ease-in;
}
button:hover {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

footer {
  text-align: center;
  padding-block: 15px;
  background-color: #000;
  color: #fff;
  font-family: var(--space);
  font-size: 1.2rem;
}

@keyframes moverCarrinho {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.carFrete {
  /* border: solid black; */
  width: 20%;

  /* width: ; */
}
.iconeCarrinho {
  animation: moverCarrinho 2s linear infinite;
  vertical-align: middle;
  /* border: solid red; */
  font-size: 2rem;
}

@media only screen and (max-width: 418px) {
  .containerFrete {
    width: 100%;
    gap: 20px;
  }
  .iconeCarrinho {
    font-size: 1.2rem;
  }
  .containerFrete h2 {
    font-size: 16px;
  }
  .textHeader {
    width: 80%;
    margin: 0 auto;
  }
  .textTCards p {
    width: 90%;
  }
  .cardsContainer {
    width: fit-content;
  }
}

@media only screen and (min-width: 420px) and (max-width: 719px) {
  .containerFrete {
    width: 100%;
    gap: 20px;
  }
  .iconeCarrinho {
    font-size: 1.5rem;
  }
  .containerFrete h2 {
    font-size: 1.5rem;
  }
  .textHeader {
    width: 80%;
    margin: 0 auto;
  }
  .textTCards p {
    width: 90%;
  }
  .cardsContainer {
    width: fit-content;
  }
}
@media only screen and (min-width: 720px) and (max-width: 980px) {
  .containerFrete {
    width: 100%;
    /* gap: 20px; */
    justify-content: center;
  }
  .iconeCarrinho {
    font-size: 1.5rem;
  }

  .textHeader {
    width: 80%;
    margin: 0 auto;
  }
  .textTCards p {
    width: 80%;
  }
}
